
# ignore build output files
*.o
*.lst
*.sym
*.map
*.lss
*.elf
*.epp
*.d
#ignore settings files which are changed by KDS often
**/*/.settings/*.*
projects/*/.settings/language.settings.xml
projects/uart/.settings/language.settings.xml
projects/time_measure/.settings/language.settings.xml
